/* what i do media */
@media screen and (max-width: 576px) {
  .skillsContainer {
    grid-template-columns: 1fr;
  }
  .whatIdocontent > .pText {
    display: none;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .skillsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .skillsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* my resume media styles */
@media screen and (max-width: 576px) {
  .resume__container {
    grid-template-columns: 1fr;
    padding: 10px;
  }
}
@media screen and (min-width: 576px) and (max-width: 1100px) {
  .resume__container {
    padding: 10px;
  }
}
/* about media */
@media screen and (min-width: 370px) and (max-width: 500px) {
  .about__summery {
    grid-template-columns: 1fr;
  }
  .about__container {
    padding: 10px 0px;
  }
  .about__item {
    background-color: rgb(255, 255, 255);
    margin: 10px;
  }
  .p__none {
    display: none;
  }
}
@media screen and (min-width: 500px) and (max-width: 768px) {
  .about__summery {
    grid-template-columns: repeat(2, 1fr);
  }
  .about__container {
    padding: 10px 0px;
  }
  .about__item {
    background-color: rgb(255, 255, 255);
    margin: 10px;
  }
  .p__none {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .about__summery {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* header media */
@media screen and (min-width: 370px) and (max-width: 576px) {
  nav {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .bgImages {
    background-image: url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 10px;
  }
  .bannerContent {
    text-align: center;
    margin-bottom: 20px;
  }
  .image__hardy {
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .hText {
    font-size: 3.5em;
  }
  .navMenu li {
    list-style: none;
    margin: 10px;
    padding: 10px;
  }
  .btn2 {
    display: none;
  }
  .navMenu li:nth-child(3) {
    display: none;
    margin: 0 auto;
  }
}
@media screen and (min-width: 200px) and (max-width: 370px) {
  .banner {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .bgImages {
    background-image: url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .image__hardy {
    max-width: 100%;
    background-position: center;
  }
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navMenu li:nth-child(1),
  li:nth-child(2),
  li:nth-child(3) {
    display: none;
    margin: 0 auto;
  }
  .hText {
    font-size: 1.5em;
    text-align: center;
  }
  .hsubText {
    font-size: 1.2em;
    text-align: center;
  }
  .btn__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
  }
  .btn {
    width: 80%;
    font-size: medium;
  }
  .btn2 {
    width: 80%;
    text-align: center;
  }
  .pText {
    text-align: center;
    padding: 10px;
  }
  .btn2 {
    display: none;
  }
  .btn {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1800px) {
  .bgImages {
    background-image: url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  .btn2 {
    display: none;
  }
}

@media screen and (min-width: 570px) and (max-width: 1000px) {
  .bgImages {
    background-image: url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  .banner {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .hsubText,
  .hText,
  .btn__container,
  .pText {
    text-align: center;
    padding: 10px;
  }
  .navMenu li:nth-child(3) {
    display: none;
    margin: 0 auto;
  }
}
/* footer media */
@media screen and (max-width: 576px) {
  footer {
    padding: 230px 50px;
    margin: 0 auto;
  }
  .foot__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
  }
  .footColumn {
    text-align: center;
  }
  .social a img {
    margin-right: 20px;
  }
  .sectionTittle {
    font-size: 20px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  footer {
    padding: 230px 50px;
    margin: 0 auto;
  }
  .foot__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
  }
  .footColumn {
    text-align: center;
  }
  .social a img {
    margin-right: 20px;
  }
  .sectionTittle {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  footer {
    padding: 230px 50px;
    margin: 0 auto;
  }
  .foot__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
  }
  .footColumn {
    text-align: center;
  }
  .social a img {
    margin-right: 20px;
  }
  .sectionTittle {
    font-size: 20px;
  }
}
